#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 80%;
  height: 100%;
  line-height: 50px; 
  color: black;
  text-align: center;
}

.Mailer-Button {
  background-color: #81CC75;
  border-radius: 2px;
  border: none;
  color: white;
  width: 15em;
  height: 4em;
}

.emailtable-centerdiv {
  margin-left:auto;
  margin-right:auto;
  width: 500px;
}

.emailtable-table {
  width: 100%;
  line-height: 2;
  text-align: left;
}